.root_container{
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
.fa_container{
  margin-top: 20px;
  min-width: 85vw;
  min-height: 80vh;
  background: #efefef;
  padding: 20px;
}